@import "../../../common/styles.scss";

.overflow-scroll:not(:has(.deleteForm)) {
  overflow-y: scroll;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.overflow-scroll::-webkit-scrollbar {
  width: 8px;
}

.overflow-scroll::-webkit-scrollbar-thumb {
  background: $text-color;
}

.deleteForm {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  text-align: left;

  label {
    font-size: 1.8rem;
    text-wrap: wrap;
    strong {
      font-size: 1.8rem;
    }
  }

  button {
    max-width: fit-content;
  }
}
