@import "../../../common/styles.scss";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  .title {
    font-size: 3rem;
    font-weight: 600;
    color: $text-color;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  button {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    padding: 1rem 1.5rem !important;

    p {
      font-size: 1.8rem;
      span {
        font-size: 1.8rem;
        @include mobile {
          display: none;
        }
      }
    }
  }
}

.container-overflow {
  justify-content: flex-start;
  overflow-x: scroll;
  padding-bottom: 3rem;

  table {
    th:not(:first-child),
    td:not(:first-child) {
      text-align: center;
    }
  }
}
.container-overflow::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

.container-overflow::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}
