@import "../../../common/styles.scss";

.min-height-50 {
  min-width: 30%;
  gap: 1rem;

  @include ipad {
    min-width: 60%;
  }
  @include laptop {
    min-width: 60%;
  }
}

.heading {
  color: $text-color;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.macros-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 13.5rem;
  min-height: 13.5rem;
  overflow-y: scroll;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  @include mobile {
    max-height: 27rem;
    min-height: 27rem;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $text-color;
  }
}

.center-align {
  align-items: center;
  justify-content: center;
}
