$primary-color: #df2e38;
$primary-hover-color: #df2e37d9;
$secondary-color: #f3f3f3;
$background-color: #ffffff;
$high-color: #df2e38;
$low-color: #ffc107;
$optimal-color: #28a745;
$text-color: #5a5f59;

@mixin laptop {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  padding: 2rem 7.4rem;
  @include laptop {
    padding: 2rem 5.2rem;
  }

  @include ipad {
    padding: 2rem 3rem;
  }
}

.btn:not([disabled]),
.btn[disabled] {
  padding: {
    left: 3rem;
    right: 3rem;
    top: 1rem;
    bottom: 1rem;
  }
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease;
}

.btn:not([disabled]) {
  background-color: $primary-color;
  color: #ffffff !important;
  cursor: pointer;
}

.btn[disabled] {
  color: $text-color;
  background-color: #cdcdcd;
  cursor: not-allowed;
}

.btn:not([disabled]):hover,
.btn:not([disabled]):focus {
  background-color: $primary-hover-color;
  outline: none;
}
