@import "../../../common/styles.scss";

.form-container {
  width: 100%;
  padding: 4.4rem;
  background-color: #ffffff;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
