@import "../../../common/styles.scss";

.form-container {
  width: 100%;
  padding: 4.4rem;
  background-color: #ffffff;
  @include ipad {
    padding: 3rem;
  }
  @include mobile {
    padding: 1rem;
  }
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
