@import "../../../../common/styles.scss";

.otpModal {
  p {
    font-size: 1.4rem;
  }
  .otpContainer {
    display: flex;
    gap: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .otpInput {
      width: 40px;
      height: 40px;
      font-size: 1.8rem;
      padding: 1rem;
      text-align: center;
      border-radius: 8px;
      border: 1px solid grey;

      &:focus,
      &:active {
        border: 2px solid $primary-color;
        outline: none;
      }
    }
  }
  .btn-ghost {
    color: $primary-color;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
}
